




<div class="row">
    <div class="container">
        <div class="col-md-12 border border-warning   d-flex justify-content-center align-items-center" style="height: 16rem;padding-left: 2rem;margin-top: 8rem;">
            <div>
                <h1>Order Placed Successfully</h1>
            </div>
            <div>
                <a href="/place-order-list" class="btn btn-primary">List your Orders</a>
            </div>
            
        </div>
    </div>
</div>